body, html {
    background-color: #000;
    height: 100%;
    width: 100%;
}

* {
    color: white;
    font-family: sans-serif;
    font-size: 14pt;
    margin: 0;
    text-align: center;
}

:focus {
    outline: none;
    border: none;
}

.navbar {
    display: grid;
    grid-template-columns: repeat(67, 100px);
    background-color: #111;
}

.tab {
    padding: 5px;
    margin-left: 10px;
    background-color: #123;
    border-bottom: 2px solid #fff;
    &:hover {
        cursor: pointer;
    }
}